@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
    margin: 20;
    padding: 20;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

body {
    position: relative;
    text-align: center;
    background: #000;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    position: relative;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border: 25px solid white;
    padding: 50px;
    margin: 20px;
    background-color: white;
    border: 15px solid white;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}
.logo a {
    text-decoration: none;
    font-size: 40px;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    transition: 0.5s;
}
.logo a:hover {
    letter-spacing: 20px;
}

.links a {
    text-decoration: none;
    color: black;
}
.links h2 {
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 10px;
    transition: 0.5s;
}
.links h2:hover {
    letter-spacing: 10px;
}

.reward {
    width: auto;
    height: fit-content;
    border: 25px solid white;
    padding: 50px;
    margin: 20px;
    background: url(media/bg11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    border-radius: 60px;
}
.reward:hover {
    opacity: 0.8;
}
.reward p {
    position: relative;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    font-size: 80px;
    text-transform: uppercase;
    color: cornsilk;
    letter-spacing: 20px;
    transition: 0.5s;
    text-align: center;
}
.reward p:hover {
    letter-spacing: 21px;
}

.buy {
    width: auto;
    height: fit-content;
    margin-top: 0px;
    border: 25px solid white;
    padding: 50px;
    margin: 20px;
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    border-radius: 60px;
}
.buy:hover {
    opacity: 0.8;
}
.buy a {
    text-decoration: none;
    color: black;
}
.buy p {
    position: relative;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    font-size: 80px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    letter-spacing: 20px;
    transition: 0.5s;
    text-align: center;
}
.buy p:hover {
    letter-spacing: 80px;
    font-size: 90px;
}

.info p {
    width: fit-content;
    height: fit-content;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;
}
.info p:hover {
    font-size: 25px;
}

.how {
    width: auto;
    height: fit-content;
    border: 25px solid white;
    padding: 50px;
    margin: 20px;
    background: url(media/bg19.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    border-radius: 60px;
}
.how:hover {
    opacity: 0.8;
}
.how p {
    position: relative;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    font-size: 80px;
    text-transform: uppercase;
    color: cornsilk;
    letter-spacing: 20px;
    transition: 0.5s;
    text-align: center;
}
.how p:hover {
    letter-spacing: 21px;
}

.arrow {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.arrow p {
    width: fit-content;
    text-align: center;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 30px;
    transition: 1s;
    opacity: 0.8;
}
.arrow p:hover {
    font-size: 33px;
    letter-spacing: 5px;
    opacity: 1;
}

.ad {
    width: auto;
    height: fit-content;
    border: 25px solid white;
    padding: 50px;
    margin: 20px;
    background: url(media/bg14.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    border-radius: 60px;
}
.ad:hover {
    opacity: 0.8;
}
.ad p {
    position: relative;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 80px;
    text-transform: uppercase;
    color: cornsilk;
    letter-spacing: 20px;
    transition: 0.5s;
    text-align: center;
}
.ad p:hover {
    letter-spacing: 21px;
}

.flex-container {
    width: auto;
    height: fit-content;
    border: 25px solid white;
    padding: 50px;
    margin: 20px;
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    border-radius: 60px;
}
.flex-item-left {
    flex: 50%;
  }
  
.flex-item-right {
    flex: 50%;
  }
.flex-contaner:hover {
    opacity: 0.8;
}
.flex-contaienr p {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    color: black;
    transition: 0.5s;
}
.rflex-container p:hover {
    font-size: 32px;
}

.story {
    float: left;
    width: 50%;
  }

.row:after {
    content: normal;
    display: table;
    clear: both;
}

.about {
    width: fit-content;
    height: fit-content;
    padding: 50px;
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 90px;
}
.about p {
    width: auto;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: rgb(46, 84, 134);
    font-size: 18px;
    text-align: left;
    transition: 0.5s;
    margin-top: 0px;
}
.about p:hover {
    font-size: 20px;
}

.discord {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.discord p {
    width: fit-content;
    text-align: center;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    text-transform: none;
    font-size: 20px;
    transition: 1s;
    opacity: 0.8;
}
.discord p:hover {
    font-size: 23px;
    letter-spacing: 5px;
    opacity: 1;
}

.social {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.social p {
    width: fit-content;
    text-align: center;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 30px;
    transition: 1s;
    opacity: 0.8;
}
.social p:hover {
    font-size: 33px;
    letter-spacing: 5px;
    opacity: 1;
}













@media screen and (min-width: 600px) {
    * {
        margin: 20;
        padding: 20;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        font-family: "Nunito", sans-serif;
    }
    
    body {
        position: relative;
        text-align: center;
        background: #ffffff;
        margin-left: auto;
        margin-right: auto;
    }
    
    .logo {
        position: relative;
        width: fit-content;
        height: fit-content;
        text-align: center;
        border: 25px solid white;
        padding: 50px;
        margin: 20px;
        background-color: white;
        border: 15px solid white;
        padding: 50px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
    }
    .logo a {
        text-decoration: none;
        font-size: 40px;
        color: rgb(0, 0, 0);
        letter-spacing: 5px;
        transition: 0.5s;
    }
    .logo a:hover {
        letter-spacing: 20px;
    }
    
    .links a {
        text-decoration: none;
        color: black;
    }
    .links h2 {
        position: relative;
        text-align: center;
        text-decoration: none;
        display: inline;
        font-size: 20px;
        color: rgb(0, 0, 0);
        padding: 10px;
        transition: 0.5s;
    }
    .links h2:hover {
        letter-spacing: 10px;
    }
    
    .reward {
        width: auto;
        height: fit-content;
        border: 25px solid white;
        padding: 50px;
        margin: 20px;
        background: url(media/bg11.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.7;
        border-radius: 60px;
    }
    .reward:hover {
        opacity: 0.8;
    }
    .reward p {
        position: relative;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        font-size: 80px;
        text-transform: uppercase;
        color: cornsilk;
        letter-spacing: 20px;
        transition: 0.5s;
        text-align: center;
    }
    .reward p:hover {
        letter-spacing: 21px;
    }
    
    .buy {
        width: auto;
        height: fit-content;
        margin-top: 0px;
        border: 25px solid white;
        padding: 50px;
        margin: 20px;
        background: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.7;
        border-radius: 60px;
    }
    .buy:hover {
        opacity: 0.8;
    }
    .buy a {
        text-decoration: none;
        color: black;
    }
    .buy p {
        position: relative;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        font-size: 80px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        letter-spacing: 20px;
        transition: 0.5s;
        text-align: center;
    }
    .buy p:hover {
        letter-spacing: 80px;
        font-size: 90px;
    }
    
    .info p {
        width: fit-content;
        height: fit-content;
        transition: 0.5s;
        margin-left: auto;
        margin-right: auto;
    }
    .info p:hover {
        font-size: 25px;
    }
    
    .how {
        width: auto;
        height: fit-content;
        border: 25px solid white;
        padding: 50px;
        margin: 20px;
        background: url(media/bg19.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.7;
        border-radius: 60px;
    }
    .how:hover {
        opacity: 0.8;
    }
    .how p {
        position: relative;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        font-size: 80px;
        text-transform: uppercase;
        color: cornsilk;
        letter-spacing: 20px;
        transition: 0.5s;
        text-align: center;
    }
    .how p:hover {
        letter-spacing: 21px;
    }
    
    .arrow {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .arrow p {
        width: fit-content;
        text-align: center;
        height: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-size: 30px;
        transition: 1s;
        opacity: 0.8;
    }
    .arrow p:hover {
        font-size: 33px;
        letter-spacing: 5px;
        opacity: 1;
    }
    
    .ad {
        width: auto;
        height: fit-content;
        border: 25px solid white;
        padding: 50px;
        margin: 20px;
        background: url(media/bg14.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.7;
        border-radius: 60px;
    }
    .ad:hover {
        opacity: 0.8;
    }
    .ad p {
        position: relative;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 80px;
        text-transform: uppercase;
        color: cornsilk;
        letter-spacing: 20px;
        transition: 0.5s;
        text-align: center;
    }
    .ad p:hover {
        letter-spacing: 21px;
    }
    
    .flex-container {
        width: auto;
        height: fit-content;
        border: 25px solid white;
        padding: 50px;
        margin: 20px;
        background: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.7;
        border-radius: 60px;
    }
    .flex-item-left {
        flex: 50%;
      }
      
    .flex-item-right {
        flex: 50%;
      }
    .flex-contaner:hover {
        opacity: 0.8;
    }
    .flex-contaienr p {
        width: 600px;
        margin-right: auto;
        margin-left: auto;
        font-size: 30px;
        color: black;
        transition: 0.5s;
    }
    .rflex-container p:hover {
        font-size: 32px;
    }
    
    .story {
        float: left;
        width: 50%;
      }
    
    .row:after {
        content: normal;
        display: table;
        clear: both;
    }
    
    .about {
        width: fit-content;
        height: fit-content;
        padding: 50px;
        background: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 90px;
    }
    .about p {
        width: auto;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        color: rgb(46, 84, 134);
        font-size: 18px;
        text-align: left;
        transition: 0.5s;
        margin-top: 0px;
    }
    .about p:hover {
        font-size: 20px;
    }
    
    .discord {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .discord p {
        width: fit-content;
        text-align: center;
        height: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        color: rgb(0, 0, 0);
        text-transform: none;
        font-size: 20px;
        transition: 1s;
        opacity: 0.8;
    }
    .discord p:hover {
        font-size: 23px;
        letter-spacing: 5px;
        opacity: 1;
    }
    
    .social {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .social p {
        width: fit-content;
        text-align: center;
        height: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-size: 30px;
        transition: 1s;
        opacity: 0.8;
    }
    .social p:hover {
        font-size: 33px;
        letter-spacing: 5px;
        opacity: 1;
    }
    }
    




  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 601px) {
    
    .links a {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .links a:hover {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .reward {
        max-width: 300px;
    }
    .reward p {
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        width: fit-content;
        font-weight: 600;
    }
    .reward p:hover {
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .info p {
        width: 180px;
        font-size: 12px;
    }
    .info p:hover {
        width: 180px;
        font-size: 12px;
    }
    .info p2 {
        width: 180px;
        font-size: 10px;
    }

    .buy {
        max-width: 300px;
    }
    .buy p{
        font-size: 15px;
        letter-spacing: 10px;
    }
    .buy p:hover {
        font-size: 16px;
        letter-spacing: 11px;
    }

    .how {
        max-width: 300px;
    }
    .how p {
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        width: fit-content;
        font-weight: 600;

    }
    .how p:hover {
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .arrow {
        max-width: 300px;
    }
    .arrow p{
        font-size: 15px;
        letter-spacing: 4px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .arrow p:hover {
        font-size: 15px;
    }

    .about p {
        width: 180px;
        font-size: 12px;
    }
    .about p:hover {
        width: 180px;
        font-size: 12px;
    }
    .about p2 {
        width: 180px;
        font-size: 10px;
    }

    .ad {
        max-width: 300px;
    }
    .ad p {
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        width: fit-content;
        font-weight: 600;
    }
    .ad p:hover {
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .flex-container {
        flex-direction: column;
      }

    .story p {
        font-size: 15px;
    }

    .discord {
        max-width: 300px;
    }
    .discord p{
        font-size: 7px;
        letter-spacing: 1px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        transition: 0.5s;
        display: none;
    }
    .discord p:hover {
        font-size: 8px;
        letter-spacing: 1px;
    }

    .social {
        max-width: 300px;
    }
    .social p{
        font-size: 15px;
        letter-spacing: 4px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .social p:hover {
        font-size: 15px;
    }
}
